{% extends 'base.html' %}

{% load static %}

{% block css_additional%}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}


{% block title%}
    Sign menu page
{% endblock %}

{% block content%}
<h2>Test for second css file - 'info.css'</h2>
    {% include 'includes/navbar.html' only %}

    <ul>
        {% for zodiac in zodiacs %}
        <li>{{ forloop.counter }} <a href="{% url 'horoscope_name' zodiac %}">{{ zodiac|title }}</a></li>
        {% endfor %}
    </ul>
    {% include 'includes/navbar.html' %}
    Variable 'Zodiacs' still accessible because without only
{% endblock %}
