{% extends 'base.html' %}

{% load static %}

{% load my_filter %}

{% block css_additional%}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title%}
    {{ sign|upper }}
{% endblock %}

{% block content%}

    {% include 'includes/navbar.html' %}

    <h1> Horoscope for: {{ sign|title }}</h1>
    <h2>{{ description_zodiac }}</h2>
    <h2>Using own filter: {{ description_zodiac|split|first }}</h2>

{% endblock %}
